In [3]:
import pandas as pd
import pyarrow as pa
import numpy as np

dc = pd.read_excel('C:\\Users\\Windows\\Desktop\\zomato.xlsx')


# to view the current data
print(dc)

                                                     url  \
0      https://www.zomato.com/bangalore/jalsa-banasha...
1      https://www.zomato.com/bangalore/spice-elephan...
2      https://www.zomato.com/SanchurroBangalore?cont...
3      https://www.zomato.com/bangalore/addhuri-udupi...
4      https://www.zomato.com/bangalore/grand-village...
...                                                  ...
43742  https://www.zomato.com/bangalore/the-farm-hous...
43743  https://www.zomato.com/bangalore/bhagini-2-whi...
43744  https://www.zomato.com/bangalore/best-brews-fo...
43745  https://www.zomato.com/bangalore/chime-sherato...
43746  https://www.zomato.com/bangalore/the-nest-the-...

                                                 address  \
0      942, 21st Main Road, 2nd Stage, Banashankari, ...
1      2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2      1112, Next to KIMS Medical College, 17th Cross...
3      1st Floor, Annakuteera, 3rd Stage, Banashankar...
4      10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
...                                                  ...
43742  136, SAP Labs India, KIADB Export Promotion In...
43743  139/C1, Next To GR Tech Park, Pattandur Agraha...
43744  Four Points by Sheraton Bengaluru, 43/3, White...
43745  Sheraton Grand Bengaluru Whitefield Hotel & Co...
43746  ITPL Main Road, KIADB Export Promotion Industr...

                                                    name online_order  \
0                                                  Jalsa          Yes
1                                         Spice Elephant          Yes
2                                        San Churro Cafe          Yes
3                                  Addhuri Udupi Bhojana           No
4                                          Grand Village           No
...                                                  ...          ...
43742                         The Farm House Bar n Grill           No
43743                                            Bhagini           No
43744  Best Brews - Four Points by Sheraton Bengaluru...           No
43745  Chime - Sheraton Grand Bengaluru Whitefield Ho...           No
43746                       The Nest - The Den Bengaluru           No

      book_table    rate votes                                  phone  \
0            Yes   4.1/5   775    080 42297555_x000D_\n+91 9743772233
1             No   4.1/5   787                           080 41714161
2             No   3.8/5   918                         +91 9663487993
3             No   3.7/5    88                         +91 9620009302
4             No   3.8/5   166  +91 8026612447_x000D_\n+91 9901210005
...          ...     ...   ...                                    ...
43742         No  3.7 /5    34         +91 9980121279\n+91 9900240646
43743         No  2.5 /5    81                           080 65951222
43744         No  3.6 /5    27                           080 40301477
43745        Yes  4.3 /5   236                           080 49652769
43746         No  3.4 /5    13                         +91 8071117272

                         location            rest_type  ... Unnamed: 4150  \
0                    Banashankari        Casual Dining  ...           NaN
1                    Banashankari        Casual Dining  ...           NaN
2                    Banashankari  Cafe, Casual Dining  ...           NaN
3                    Banashankari          Quick Bites  ...           NaN
4                    Basavanagudi        Casual Dining  ...           NaN
...                           ...                  ...  ...           ...
43742                  Whitefield   Casual Dining, Bar  ...           NaN
43743                  Whitefield   Casual Dining, Bar  ...           NaN
43744                  Whitefield                  Bar  ...           NaN
43745  ITPL Main Road, Whitefield                  Bar  ...           NaN
43746  ITPL Main Road, Whitefield   Bar, Casual Dining  ...           NaN

      Unnamed: 4151 Unnamed: 4152 Unnamed: 4153 Unnamed: 4154 Unnamed: 4155  \
0               NaN           NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
43742           NaN           NaN           NaN           NaN           NaN
43743           NaN           NaN           NaN           NaN           NaN
43744           NaN           NaN           NaN           NaN           NaN
43745           NaN           NaN           NaN           NaN           NaN
43746           NaN           NaN           NaN           NaN           NaN

      Unnamed: 4156 Unnamed: 4157 Unnamed: 4158 Unnamed: 4159
0               NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN
...             ...           ...           ...           ...
43742           NaN           NaN           NaN           NaN
43743           NaN           NaN           NaN           NaN
43744           NaN           NaN           NaN           NaN
43745           NaN           NaN           NaN           NaN
43746           NaN           NaN           NaN           NaN

[43747 rows x 4160 columns]

In [55]:
#to check if there are any missing data values
dc.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                               0
votes                              0
phone                              0
location                           0
rest_type                        138
dish_liked                     16639
cuisines                           6
approx_cost(for two people)        0
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [56]:
# to handle the missing values
dc = dc.fillna(np.nan)

In [57]:
#checking for duplicated rows
dc.duplicated().sum()

0

In [58]:
#checking for outliers
dc.describe()

              votes
count  39364.000000
mean     362.206915
std      898.697632
min        0.000000
25%       23.000000
50%       77.500000
75%      288.000000
max    16832.000000

In [ ]:
# to clean online_order column
dc['online_order'] = dc['online_order'].fillna('NA').str.lower()
condition = dc['online_order'].isin(['yes', 'no'])
dc_filtered = dc[condition]
dc_filtered.to_excel('C:\\Users\\Windows\\Desktop\\zomato.xlsx', index=False)
print("COLUMN ADDED SUCCESSFULLY")

In [60]:
# to clean url column
dc['url'] = dc['url'].fillna('NA')
condition = dc['url'].str.startswith('https:')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.url)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        https://www.zomato.com/bangalore/jalsa-banasha...
1        https://www.zomato.com/bangalore/spice-elephan...
2        https://www.zomato.com/SanchurroBangalore?cont...
3        https://www.zomato.com/bangalore/addhuri-udupi...
4        https://www.zomato.com/bangalore/grand-village...
                               ...
39359    https://www.zomato.com/bangalore/the-farm-hous...
39360    https://www.zomato.com/bangalore/bhagini-2-whi...
39361    https://www.zomato.com/bangalore/best-brews-fo...
39362    https://www.zomato.com/bangalore/chime-sherato...
39363    https://www.zomato.com/bangalore/the-nest-the-...
Name: url, Length: 39364, dtype: object

In [61]:
# to clean book_table  column
dc['book_table'] = dc['book_table'].fillna('NA')
condition = (dc['book_table'].isin(['Yes', 'yes', 'no', 'No']))
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.book_table)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        Yes
1         No
2         No
3         No
4         No
        ...
39359     No
39360     No
39361     No
39362    Yes
39363     No
Name: book_table, Length: 39364, dtype: object

In [62]:
#to clean rate column
dc['rate'] = dc['rate'].fillna('NA')
condition = dc['rate'].str.contains('^\d', regex=True)
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.rate)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
39359    3.7 /5
39360    2.5 /5
39361    3.6 /5
39362    4.3 /5
39363    3.4 /5
Name: rate, Length: 39364, dtype: object

In [63]:
# to clean location column
dc['location'] = dc['location'].fillna('NA')
condition = dc['location'].str.match(r'^[A-Z]')
dc = dc.loc[condition].copy()
print(dc.location)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0                      Banashankari
1                      Banashankari
2                      Banashankari
3                      Banashankari
4                      Basavanagudi
                    ...
39359                    Whitefield
39360                    Whitefield
39361                    Whitefield
39362    ITPL Main Road, Whitefield
39363    ITPL Main Road, Whitefield
Name: location, Length: 39364, dtype: object

In [64]:
# to clean phone column
dc['phone'] = dc['phone'].fillna('NA')
condition = dc['phone'].str.match(r'^[+\d]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.phone)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0          080 42297555\r\n+91 9743772233
1                            080 41714161
2                          +91 9663487993
3                          +91 9620009302
4        +91 8026612447\r\n+91 9901210005
                       ...
39359      +91 9980121279\n+91 9900240646
39360                        080 65951222
39361                        080 40301477
39362                        080 49652769
39363                      +91 8071117272
Name: phone, Length: 39364, dtype: object

In [65]:
# to clean rest_type column
dc['rest_type'] = dc['rest_type'].fillna('NA')
condition = dc['rest_type'].str.match(r'^[A-Z]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.rest_type)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0              Casual Dining
1              Casual Dining
2        Cafe, Casual Dining
3                Quick Bites
4              Casual Dining
                ...
39359     Casual Dining, Bar
39360     Casual Dining, Bar
39361                    Bar
39362                    Bar
39363     Bar, Casual Dining
Name: rest_type, Length: 39364, dtype: object

In [66]:
# to clean dish_liked column
dc['dish_liked'] = dc['dish_liked'].fillna('NA')
condition = dc['dish_liked'].str.match(r'^[A-Z]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.dish_liked)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1        Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2        Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                              Masala Dosa
4                                      Panipuri, Gol Gappe
                               ...
39359                                                   NA
39360                                 Biryani, Andhra Meal
39361                                                   NA
39362                         Cocktails, Pizza, Buttermilk
39363                                                   NA
Name: dish_liked, Length: 39364, dtype: object

In [67]:
# to clean cuisines column
dc['cuisines'] = dc['cuisines'].fillna('NA')
condition = dc['cuisines'].str.match(r'^[A-Z]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.cuisines)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0                     North Indian, Mughlai, Chinese
1                        Chinese, North Indian, Thai
2                             Cafe, Mexican, Italian
3                         South Indian, North Indian
4                           North Indian, Rajasthani
                            ...
39359                      North Indian, Continental
39360    Andhra, South Indian, Chinese, North Indian
39361                                    Continental
39362                                    Finger Food
39363         Finger Food, North Indian, Continental
Name: cuisines, Length: 39364, dtype: object

In [68]:
#to clean approx_cost(for two people) column
dc['approx_cost(for two people)'] = dc['approx_cost(for two people)'].fillna('NA')
condition = dc['approx_cost(for two people)'].str.contains('^\d', regex=True)
dc_filtered = dc[condition]
dc = dc[condition]
print('column updated')
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

column updated

In [69]:
# to clean reviews_list column
dc['reviews_list'] = dc['reviews_list'].fillna('NA')
condition = dc['reviews_list'].str.contains(r'rated|Rated|RATED')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.reviews_list)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        [('Rated 4.0', 'RATED\n  A beautiful place to ...
1        [('Rated 4.0', 'RATED\n  Had been here for din...
2        [('Rated 3.0', "RATED\n  Ambience is not that ...
3        [('Rated 4.0', "RATED\n  Great food and proper...
4        [('Rated 4.0', 'RATED\n  Very good restaurant ...
                               ...
39359    [('Rated 4.0', 'RATED\n  Ambience- Big and spa...
39360    [('Rated 4.0', 'RATED\n  A fine place to chill...
39361    [('Rated 5.0', "RATED\n  Food and service are ...
39362    [('Rated 4.0', 'RATED\n  Nice and friendly pla...
39363    [('Rated 5.0', 'RATED\n  Great ambience , look...
Name: reviews_list, Length: 39364, dtype: object

In [70]:
# to clean menu item column
dc['menu_item'] = dc['menu_item'].fillna('NA')
condition = ~dc['menu_item'].str.contains(r'rated', case=False)
dc_filtered = dc[condition]
dc = dc.loc[condition].copy()
print(dc.menu_item)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        []
1        []
2        []
3        []
4        []
         ..
39359    []
39360    []
39361    []
39362    []
39363    []
Name: menu_item, Length: 39364, dtype: object

In [71]:
# to clean listed_in(type) column
dc['listed_in(type)'] = dc['listed_in(type)'].fillna('NA')
condition = dc['listed_in(type)'].str.match(r'^[A-Z]')
dc_filtered = dc[condition]
dc = dc[condition]
print('column updated')
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

column updated

In [72]:
# to clean listed_in(city) column
dc['listed_in(city)'] = dc['listed_in(city)'].fillna('NA')
condition = dc['listed_in(city)'].str.match(r'^[A-Z]')
dc_filtered = dc[condition]
dc = dc[condition]
print('column updated')
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

column updated

In [73]:
# to clean name column
dc['name'] = dc['name'].fillna('NA')
condition = dc['name'].str.match(r'^[A-Z0-9]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.name)

dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0                                                    Jalsa
1                                           Spice Elephant
2                                          San Churro Cafe
3                                    Addhuri Udupi Bhojana
4                                            Grand Village
                               ...
39359                           The Farm House Bar n Grill
39360                                              Bhagini
39361    Best Brews - Four Points by Sheraton Bengaluru...
39362    Chime - Sheraton Grand Bengaluru Whitefield Ho...
39363                         The Nest - The Den Bengaluru
Name: name, Length: 39364, dtype: object

In [74]:
# to clean address column
dc['address'] = dc['address'].fillna('NA')
condition = dc['address'].str.match(r'^[A-Z0-9]')
dc_filtered = dc[condition]
dc = dc[condition]
print(dc.address)
dc.to_excel('C:\\Users\\Windows\\Desktop\\zomato.excel', index=False)

0        942, 21st Main Road, 2nd Stage, Banashankari, ...
1        2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2        1112, Next to KIMS Medical College, 17th Cross...
3        1st Floor, Annakuteera, 3rd Stage, Banashankar...
4        10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
                               ...
39359    136, SAP Labs India, KIADB Export Promotion In...
39360    139/C1, Next To GR Tech Park, Pattandur Agraha...
39361    Four Points by Sheraton Bengaluru, 43/3, White...
39362    Sheraton Grand Bengaluru Whitefield Hotel & Co...
39363    ITPL Main Road, KIADB Export Promotion Industr...
Name: address, Length: 39364, dtype: object